{% extends "nav.html" %}


<br>
<br>
<br>
<br>
<br>

{% block title %}set new Password{% endblock title %}

{% block content %}
<div class="container">
  <h2>set New Password</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}


  <form method="post" action="{% url 'auth/set-new-password' uidb64  token%}">
    {%csrf_token%}
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="pass1" required>
  </div>

  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="pass2" required>
    <button type="submit" class="btn btn-primary">submit</button>
  </div>
{% endblock content %}
